
<body>

<!-- ヘッダー部分 -->
<%= render 'layouts/header' %>


<div class="container">
	<div class="row">
		<h1 class="#" style="margin-top: 70px;">welcome to <span class="glyphicon glyphicon-book strong" aria-hidden="true" style="font-weight: bold;">Bookers!</span></h1>
	</div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-lg-offset-9">
				<p>CopyRight Infratop.inc</p>
			</div>
		</div>
	</div>
</footer>

</body>